@charset "utf-8";

a:link {
	font-size: 15px;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #00F;
}

a:active {
	font-size: 15px;
	color: #63F;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: underline;
}

a:visited {
	color: #00F;
	text-decoration: none;
	font-size: 15px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

a:hover {
	font-size: 15px;
	color: #F00;
	text-decoration: underline;
	font-family: Georgia, "Times New Roman", Times, serif;
}